@model Applicant
@{
    ViewData["Title"] = "Create";
}

<h1>Applicant Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalExperience" class="control-label"></label>
                <input asp-for="TotalExperience" class="form-control" />
                <span asp-validation-for="TotalExperience" class="text-danger"></span>
            </div>

            @*<div class="col-md-6 btn-group">
            <div class="form-group col-8 p-0">
                <label asp-for="ProfilePhoto" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="ProfilePhoto" class="custom-file-input" id="customFile"
                           onchange="document.getElementById('PreviewPhoto').src = window.URL.createObjectURL(this)"
                           />
                    <label class="custom-file-label" for="customFile">Choose File</label>
                </div>
                <div class="form-group col-4">
                    <img id="PreviewPhoto" src="~/images/no-image.png" alt="Logo Image"
                         width="125" height="125" style="border:1px ; margin-top:20px" />
                </div>
            </div>
        </div>*@
            <div class="col-md-6 btn-group">
                <div class="form-group col- p-0">
                    <label asp-for="ProfilePhoto" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="ProfilePhoto" class="custom-file-input" id="customFile" type="file"
                               onchange="preViewImage(event)" />
                        <label class="custom-file-label" for="customFile">Choose File</label>
                    </div>
                    <div class="form-group col-4">
                        <img id="PreviewPhoto" src="~/images/no-image.png" alt="Logo Image"
                             width="125" height="125" style="border:1px ; margin-top:20px" />
                    </div>
                </div>
            </div>
            <table id="ExpTable" class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Company Name</th>

                        <th>Designation</th>

                        <th>YearsWorked</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    @* The exp was not being saved
                fix the issue
                    *@
                    @*@foreach (var item in Model.Experiences)*@
                    @for (int i = 0; i < Model.Experiences.Count; i++)
                    {
                        <tr>
                            <td>
                                @* Use Editor for  *@
                                @Html.EditorFor(x => x.Experiences[i].CompanyName, new { HtmlAttributes = new { @class = "form-control" } })
                                @*<input asp-for="@item.CompanyName" class="form-control" />*@
                            </td>
                            <td>
                                @Html.EditorFor(x => x.Experiences[i].Designation, new { HtmlAttributes = new { @class = "form-control" } })
                                @*<input asp-for="@item.Designation" class="form-control" />*@
                            </td>
                            <td>
                                @Html.EditorFor(x => x.Experiences[i].YearsWorked, new { HtmlAttributes = new { @class = "form-control" } })
                                @*<input asp-for="@item.YearsWorked" class="form-control" />*@
                            </td>
                            <td>
                                @* -@i giving unique Id to add and delete button  *@
                                <button id="btnAdd-@i" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">Add</button>
                                <button id="btnremove-@i" type="button" class="btn btn-sm btn-danger invisible"
                                        onclick="DeleteItem(this)"
                                        >Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*//problem as we are cloning the last row of the table and appending the cloned row to the table
            // modify the add item of javascript
                hidden contril store table last row index
                *@
            <input type="hidden" id="hbnLastIndex" value="0"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section scripts {

    <script type='text/javascript'>

        function preViewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('PreviewPhoto');
                output.src = reader.result;
            }
            console.log('Inside on change')
            reader.readAsDataURL(event.target.files[0]);
        }

        //
        function AddItem(btn) {
            var table = document.getElementById('ExpTable');
            //get the rows of our table
            var row = table.getElementsByTagName('tr');

            //get the outer html of the last row of exp table
            var outerRow = row[row.length - 1].outerHTML;

            //these line are added to takle the below issue
            var lastrowIndex = document.getElementById('hbnLastIndex').value;
            //eval to convert string to num
            var nextRowIndex = eval(lastrowIndex) + 1;

            document.getElementById('hbnLastIndex').value = nextRowIndex;

            //outerRow holds source of last row of the tbl
            //replace olf index with thee new index
            outerRow = outerRow.replaceAll('_' + lastrowIndex + '_', '_' + nextRowIndex + '_');
            outerRow = outerRow.replaceAll('[' + lastrowIndex + ']', '[' + nextRowIndex + ']');
            outerRow = outerRow.replaceAll('-' + lastrowIndex , '-' + nextRowIndex);


            //these line are added to takle the below issue
            //insert a new row
            var newRow = table.insertRow();
            newRow.innerHTML = outerRow;

            //problem as we are cloning the last row of the table and appending the cloned row to the table
            // modify the add item of javascript


            //now after add is clicked make delete visible and add invisible 
            var btnAddID = btn.id;
            var btnDeleteid = btnAddID.replaceAll('btnadd', 'btnremove');

            var delbtn = document.getElementById(btnDeleteid);
            delbtn.classList.add('visible')
            delbtn.classList.remove('invisible')

            var addbtn = document.getElementById(btnAddID);
            addbtn.classList.add('visible')
            addbtn.classList.remove('invisible')


        }


        function DeleteItem(btn) {
            $(btn).closest('tr').remove();
        }
    </script>

}
